:root {
  --bar-width: 45px;
  --bar-height: 7px;
  --hamburger-gap: 4px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
.app {
  /* background-color: #111; */
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

.page1 {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.marque{
  background: orangered;
  width: 100%;
  height: 2rem;
  padding-top: 5px;
  position: absolute;
  top: 25vh;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 795px) {
  .marque{
    top: 20vh;
  }
}

@media (max-width: 450px) {
  .marque{
    top: 15vh;
  }
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Logo */

.logo-container {
  padding-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 15vw;
}

.logo {
  position: relative;
  overflow: hidden;
  width: 50%;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 23.5vw;
  width: 10%;
  border-radius: 50%;
  transform: skewX(-20deg);
  left: -10rem;
  /* animation: glint 7s infinite; */
  animation-delay: 3s;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 54px 55px,
    rgba(255, 255, 255, 0.6) 0px -12px 30px,
    rgba(255, 255, 255, 0.6) 0px 4px 6px, rgba(255, 255, 255, 0.6) 0px 12px 13px,
    rgba(255, 255, 255, 0.6) 0px -3px 5px;
}

@keyframes glint {
  0%,
  50%,
  75%,
  100% {
    left: -50%;
  }
  25% {
    left: 150%;
  }
}

/* Navbar */

nav {
  height: 9rem;
  width: 100%;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  z-index: 99;
}

.nav-left img {
  width: 8rem;
}

.nav-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-right img {
  width: 8rem;
}

.collegeName {
  text-shadow: rgba(221, 221, 221, 0.443) 2px 2px 5px;
  color: #111;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.collegeDetails {
  text-align: center;
  font-size: 0.8rem;
}

/* Blur Circle */
.blur-circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  position: absolute;
  background-color: #ffcb43;
  filter: blur(20px);
  /* background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%); */
  background-image: linear-gradient(
    319deg,
    #ff0016 0%,
    #ff6425 63%,
    #ffcb43 100%
  );
  right: -10%;
  bottom: -30vh;
  /* animation: blurCircle 5s ease-in-out infinite; */
  transition: scale ease;
}

@keyframes blurCircle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Menu */

.hamburger {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 13rem;
  /* border-bottom: 1px solid #fff; */
  padding-top: 9rem;
}

.nav-social a{
  text-decoration: none;
  color: #fff;
}

.sidebar {
  gap: 3vw;
  transition: margin ease 0.3s;
  font-size: 2vw;
}

.below-nav{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-social{
  color: white;
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.fa-logo:hover{
  color: #ff6425;
}

.sidebar h4 {
  cursor: pointer;
  transition: color ease 0.3s;
}

.sidebar a:hover{
  color: rgb(255, 116, 65);
}

@keyframes moveRight {
  0% {
    margin-left: -4rem;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes moveLeft {
  0% {
    margin-left: 4rem;
  }
  100% {
    margin-left: 0;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  padding: 2rem 1rem;
  z-index: 2;
  cursor: pointer;
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

.menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.menu:has(input:focus-visible)::before,
.menu:has(input:focus-visible)::after,
.menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.menu::before,
.menu::after,
.menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: #fff;
  border-radius: 2px;
  transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out,
    rotate 0.2s ease-in-out, translate 0.2s ease-in-out;
  transform-origin: left center;
}

.menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.menu input:checked {
  opacity: 0;
  width: 0;
}

/* About Page */

.about-us {
  width: 100%;
  padding: 5vw 10vw;
  min-height: 100vh;
  position: relative;
  background-color: #303030;
  overflow: hidden;
}

.blur{
  background-image: linear-gradient(
    319deg,
    #ff0016 0%,
    #ff6425 63%,
    #ffcb43 100%
  );
  position: absolute;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  filter: blur(200px);
}

.about-us :nth-child(1){
  top: -50%;
  left: -40%;
}

.about-us :nth-child(3){
  bottom: -50%;
  right: -40%;
}

.about-text {
  padding: 2rem;
  /* background-color: rgba(17, 17, 17, 0.7); */
  border-radius: 20px;
  text-align: center;
}

.about-text h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.about-text p {
  font-size: 1.5rem;
}

/* Gallery Page */

.gallery {
  height: auto;
  padding: 15vh 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}

.gallery h1 {
  /* margin-left: 40vw; */
  /* border-bottom: 1px solid; */
  padding: 0.5rem;
  font-size: 5rem;
  margin-bottom: 5rem;
  /* width: fit-content; */
  text-align: center;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 120%;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(52, 51, 51, 1);
  border-radius: 20px;
  padding: 4rem 2rem;
  transition: color ease 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white;
}

/* Register Page */

.register {
  min-height: 110vh;
  width: 100%;
  background-color: #111;
  padding-bottom: 1rem;
  padding-top: 5vh;
}

.register h1 {
  font-size: 5rem;
  /* margin-left: 40vw; */
  /* border-bottom: 1px solid; */
  text-align: center;
  padding: 0.5rem;
  font-size: 5rem;
  /* width: fit-content; */
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 5rem;
  /* margin-left: 5vw; */
}

.card {
  position: relative;
  padding: 3rem 1.5rem;
  border: orangered 2px solid;
  transition: transform ease 0.5s, box-shadow 0.3s ease;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px orangered;
}

.card .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  border-radius: 20px 0 0 20px;
}

.card::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  filter: blur(10px);
}

.card::before,
.card::after {
  background: rgba(255, 255, 255, 0.1);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.card-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card-title img {
  width: 5rem;
}

.card-desc h4 {
  font-size: 1.4rem;
  padding: 0.8rem;
}

.card-desc span {
  color: #ffcb43;
  padding-right: 1rem;
}

.register-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid orangered;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: 2rem;
  color: #ffcb43;
}

.register-btn:hover {
  background: orangered;
  box-shadow: 0 0 30px 5px rgba(255, 140, 112, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.register-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.register-btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.register-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.hostel-note{
  background-color: #303030;
  width: 100%;
  text-align: center;
  padding: 1rem 10rem;
  font-size: 1.2rem;
}

.hostel-note span{
  color: #ffcb43;
  font-size: 1.3rem;
}

/* Footer */
.footer {
  background-color: #303030;
  min-height: 10vh;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #7a7a7a;
  position: relative;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.location h2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #ffcb43;
}

.location a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.location img {
  width: 2rem;
}

.contact {
  padding-top: 1rem;
}

.contact h4 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #ffcb43;
}

.contact h5 {
  font-size: 1rem;
}

.footer-social{
  font-size: 2rem;
}

.footer-social a{
  margin: 0.5rem;
  padding-top: 2rem;
  text-decoration: none;
  color: #fff;
}

.footer-social h4{
  color: #ffcb43;
  font-size: 2rem;
  padding-top: 1rem;
}

.love{
  position: absolute;
  top: 85%;
  right: 10%;
  opacity: 0.5;
}

/* Media Queries */

@media (max-width: 1300px) {
  .page1 {
    min-height: 80vh;
  }

  .blur-circle {
    width: 60vw;
    height: 60vw;
  }

  .collegeName {
    text-shadow: rgba(221, 221, 221, 0.443) 2px 2px 5px;
    color: #111;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }

  .collegeDetails {
    text-align: center;
    font-size: 0.6rem;
  }
}

@media (max-width: 1200px) {
  .blur-circle {
    width: 50vw;
    height: 50vw;
    right: -10%;
    bottom: -10%;
  }

  .logo{
    width: 70%;
  }

  .logo-img {
    height: 20vw;
  }

  .collegeDetails {
    display: none;
  }

  .hamburger {
    gap: 2rem;
  }

  .sidebar {
    font-size: 1.2rem;
  }

  .about-text h2 {
    font-size: 2.5rem;
  }

  .about-text p {
    font-size: 1.3rem;
  }

  .gallery h1 {
    font-size: 4rem;
  }
}

@media (max-width: 1024px) {
  nav {
    height: 7rem;
  }

  .logo{
    width: 80%;
  }

  .hamburger {
    padding-top: 7rem;
    height: 11rem;
  }

  .nav-left img,
  .nav-right img {
    width: 6rem;
  }

  .collegeName {
    font-size: 1rem;
  }

  .register {
    min-height: 110vh;
    padding: 2rem 1rem;
  }

  .register h1 {
    font-size: 4rem;
    /* margin-left: 35vw; */
    /* margin-top: -5rem; */
  }

  .cards {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    margin-left: 0;
  }

  .card {
    width: 80%;
    margin: 0 auto;
  }

  .card-title {
    font-size: 1.2rem;
    gap: 1rem;
  }

  .card-title img {
    width: 4rem;
  }

  .card-desc h4 {
    font-size: 1.2rem;
  }

  .register-btn {
    font-size: 1.5rem;
  }

  .hostel-note{
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .page1{
    height: 40%;
  }

  .blur-circle{
    width: 60vw;
    height: 60vw;
  }

  .collegeName {
    font-size: 0.8rem;
  }

  .collegeDetails {
    font-size: 0.3rem;
  }

  .hamburger {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .gallery{
    min-height: 60vh;
    padding-top: 5vh;
  }

  .gallery h1 {
    /* margin-left: 35vw; */
    font-size: 3rem;
  }

  .sidebar {
    font-size: 1rem;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 2rem 1rem;
  }

  nav {
    height: 5rem;
  }

  .hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    height: 9rem;
  }

  .nav-left img,
  .nav-right img {
    width: 4rem;
  }

  .pcet {
    font-size: 0.7rem;
  }

  .register {
    min-height: 120vh;
  }

  .register h1 {
    font-size: 3rem;
    /* margin-left: 27vw; */
    margin-top: 0;
  }

  .cards {
    padding: 2rem 0.5rem;
  }

  .card {
    width: 90%;
    padding: 2rem 1rem;
  }

  .card-title {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .card-title img {
    width: 3rem;
  }

  .card-desc h4 {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .register-btn {
    font-size: 1.2rem;
  }

  .hostel-note{
    font-size: 1rem;
  }

  .hostel-note span{
    font-size: 1.1rem;
  }

  .footer {
    padding: 1rem 3rem;
    gap: 5rem;
  }

  .location h2 {
    font-size: 1rem;
  }

  .location a {
    font-size: 0.7rem;
  }

  .contact h4 {
    font-size: 1rem;
  }

  .contact h5 {
    font-size: 0.7rem;
  }
}

@media (max-width: 670px) {
  .location{
    width: 100%;
  }

  .location h2{
    justify-content: center;
    font-size: 2rem;
  }

  .hamburger{
    opacity: 0;
    width: 0;
  }

  .contact h4{
    font-size: 2rem;
  }

  .footer{
    text-align: center;
  }
  .love{
    display: none;
  }
}

@media (max-width: 570px) {
  nav {
    height: 4rem;
  }

  .blur-circle{
    bottom: -10%;
    right: -10%;
  }

  .hamburger {
    padding-top: 3rem;
    height: 8rem;
  }

  .nav-left img,
  .nav-right img {
    width: 4rem;
  }

  .pcet {
    font-size: 0.6rem;
  }

  .collegeName {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  nav {
    height: 4rem;
    padding-top: 1.5rem;
  }

  .nav-social{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  .page1{
    min-height: 50vh;
  }

  .collegeName {
    font-size: 0.5rem;
    margin-top: 0.5rem;
  }

  .collegeDetails {
    font-size: 0.6rem;
    padding: 0 0.5rem;
  }

  .logo-img {
    height: 25vw;
  }

  .about-us{
    min-height: 60vh;
  }

  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 0.8rem;
  }

  .gallery h1 {
    /* margin-left: 32vw; */
    padding-top: 2rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem 0.5rem;
  }

  .hamburger {
    padding-top: 4rem;
    height: 7rem;
  }

  .sidebar {
    font-size: 0.7rem;
    gap: 2rem;
  }

  .nav-left img,
  .nav-right img {
    width: 4rem;
  }

  .nav-mid {
    gap: 0;
  }

  .nav-social{
    padding: 0 1rem;
  }

  .pcet {
    font-size: 0.5rem;
  }

  .gallery {
    height: 50vh;
  }

  .gallery h1{
    font-size: 2rem;
    /* margin-left: 37vw; */
  }

  .register h1 {
    font-size: 2rem;
    /* margin-left: 32vw; */
  }

  .cards {
    padding: 1rem 0.5rem;
  }

  .card {
    width: 95%;
    padding: 1rem 0.5rem;
  }

  .card-title {
    font-size: 0.8rem;
    gap: 0.3rem;
  }

  .card-title img {
    width: 2.5rem;
  }

  .card-desc h4 {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .register{
    width: 100%;
  }

  .register-btn {
    font-size: 1rem;
  }

  .footer {
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 1rem;
  }

  .location {
    width: 100%;
    text-align: center;
  }

  .location h2 {
    justify-content: center;
  }

  .contact {
    width: 100%;
    text-align: center;
  }

  .contact h4,
  .contact h5 {
    margin: 0;
    padding-bottom: 0.5rem;
  }

  .footer-social{
    text-align: center;
  }

  .footer-social h4{
    font-size: 1.5rem;
  }

  .love{
    display: none;
  }
}

@media (max-width: 450px) {
  .blur-circle{
    bottom: -10%;
    right: -15%;
  }
  .page1 {
    height: 60vh;
  }

  .about-us {
    height: 80vh;
  }

  .about-text h2 {
    font-size: 1.15rem;
  }

  .pcet {
    font-size: 0.4rem;
  }

  .collegeName {
    font-size: 0.5rem;
  }

  .sidebar {
    gap: 5vw;
    font-size: 3vw;
  }
}

@media (max-width: 400px) {
  .page1 {
    height: 60vh;
  }
  .about-us {
    height: 120vh;
  }

  .gallery {
    height: 40vh;
  }

  .register h1{
    text-align: center;
  }

  .nav-left img,
  .nav-right img {
    width: 3rem;
  }

  .pcet {
    font-size: 0.4rem;
  }

  .collegeName {
    font-size: 0.4rem;
  }

  .blur{
    width: 60vw;
    height: 60vw;
  }
}
